body{
    background-color: rgb(17, 17, 53);
    color: white;
}

table{
    border-color: white;
}
td{
    padding: 8px 16px;

}
    
.sub{
    background-color: green;
}


.col{
    font-weight: bold;
    font-size: 18px;
    background-color: rgb(231, 144, 51);
}
tr{
    background-color: rgb(165,233,255);
    color: black;
    text-align: center;
}
input{
    font-size: 16px;
}


/* Button Colors */

.sub{
    
    background-color: rgb(45, 202, 105);
    border: 2px solid black;
    outline: none;
    color: black;
}

.reset{
    background-color: rgb(224, 159, 54);
    border: 2px solid black;
    outline: none;
    color: black;
}

.edit{
     background-color: rgb(179, 177, 177);
}

.delete{
    background-color: rgb(190, 46, 46);
}



.txt1{
    background-color: white;
    border: 2px solid rgb(58, 120, 202);
}

.txt2{
    background-color: white;
    border: 2px solid rgb(58, 120, 202);
}

.txt3{
    background-color: white;
    border: 2px solid rgb(58, 120, 202);
}

.fieldset {

width: 30%;

}

.storage{

    width: 40%;

}





